<template name="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>eLiberate</h1>
        <hr />
        <h3>The online deliberation tool for all.</h3>
        <h4>Sign up now to start deliberating!</h4>
        <p>
          eLiberate allows groups to hold online meetings using Roberts Rules of
          Order even if their members are in different locations. It is nearly
          ready to be tested with real-world activities. Let us know if
          <strong
            ><a
              href="/contact"
              id="homeContact"
              class="bright-link"
              data-modal="contact"
            >
              your organization is interested</a
            ></strong
          >
          in being involved with these efforts. Our current plan is to make
          eLiberate freely available for online meetings in the near future and
          to release the software under a free software license at some point in
          the not-too-distant future. For more information, see the
          <strong
            ><a
              href="/about"
              id="homeAbout"
              class="bright-link"
              data-modal="about"
              >Extended About page</a
            ></strong
          >.
        </p>
      </div>
    </div>
  </div>
</template>
